.sortable {
    cursor: pointer;
    color: rgb(253, 255, 122);
}

.warning {
    background-color: rgb(253, 189, 189);
}

table {
  color: black;
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: white;
}

.header-row {
    background: #34495E;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}

.stripe {
    background-color: hsl(222, 100%, 90%);
    color: black;
  }